.greeting {
    background: rgb(255, 255, 0);
    border: 2px solid black;
    font-family: "Comic Sans MS", fantasy;
    padding: 5px;
    width: 262px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
}

.creature {
    position: absolute;
    top: 60px;
    left: 40px;
    z-index: 1;
}

.planet{
    width:300px;
}