body {
    font-family: sans-serif;
}
h1 {
    font-family: fantasy;
}
.cloud-pic {
    width: 100px;
    float: left;
    margin:10px;
}
.cloud-sidebar {
    background: rgb(255, 255, 219);
    float:right;
    width:30%;
    margin:10px;
}