.App {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  min-width: 70%;
}

.fieldset {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
