html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 600px) {
  body {
    margin: 20px;
    font-size: 1.2rem;
  }
  h1,
  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  header nav {
    align-self: center;
  }

  header p {
    font-size: 4.5vh;
  }
}

@media screen and (min-width: 950px) {
  body {
    margin: 40px;
    font-size: 1.4rem;
    background-color: greenyellow;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header p {
    font-size: 6vh;
  }
  header nav ul {
    display: flex;
    list-style: none;
  }
  header nav ul li {
    margin-right: 10px;
  }
  header nav ul li:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
}

@media screen and (min-width: 1500px) {
  body {
    margin: 50px;
    font-size: 1.6rem;
    background-color: darkgrey;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }
  h1,
  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  header nav ul li:hover {
    background-color: aliceblue;
    cursor: pointer;
  }
}
