/* body {
}
h1 {
}
h2 {
} */

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.2rem;
    margin: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  figure {
    margin: 60px 0;
  }
}

@media screen and (min-width: 950px) {
  body {
    background-color: rgb(146, 144, 144);
    font-size: 1.3rem;
    margin: 20px;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
  }
  figure{
    margin: 10px;
  }
}

@media screen and (min-width: 1500px){
  body{
    background-color: antiquewhite;
    margin: 40px;
    font-size: 1.5rem;
    max-width: 100%;
  }
}