/* Exercícios do site https://flexboxfroggy.com/ de uso de flex box */

/* Exercício 1 */

#pond {
  display: flex;
  justify-content: flex-end;
}

/* Exercício 02 */

#pond {
  display: flex;
  justify-content: center;
}

/* Exercício 03 */

#pond {
  display: flex;
  justify-content: space-around;
}

/* Exercício 04 */

#pond {
  display: flex;
  justify-content: space-between;
}

/* Exercício 05 */

#pond {
  display: flex;
  align-items: flex-end;
}

/* Exercício 06 */

#pond {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Exercício 07 */

#pond {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/* Exercício 08 */

#pond {
  display: flex;
  flex-direction: row-reverse;
}

/* Exercício 09 */

#pond {
  display: flex;
  flex-direction: column;
}

/* Exercício 10 */

#pond {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* Exercício 11 */

#pond {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Exercício 12 */

#pond {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

/* Exercício 13 */

#pond {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}
